* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(67, 70, 73);
    left: -200px;
    transition: all 500ms linear;
}
#sidebar.active {
    left: 0px;
}
#sidebar ul li {
    color: aliceblue;
    list-style: none;
    padding: 15px 10px;
    border-bottom: solid white;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
}
#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: rgb(67, 70, 73);
    margin: 5px 0px;
}